rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    match /{allPaths=**} {
      allow read: if isAuthenticated();
    }

    match /profiles/{fileName} {
      allow write: if isAuthenticated() && request.resource.size < 5 * 1024 * 1024;
    }

    match /groups/{fileName} {
      allow write: if isAuthenticated() && request.resource.size < 5 * 1024 * 1024;
    }

    match /chat_media/{fileName} {
      allow write: if isAuthenticated() && request.resource.size < 50 * 1024 * 1024;
    }
  }
}
